services:
  db:
    image: postgres:15.4
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_USER=ecommerce"
      - "POSTGRES_PASSWORD=ecommerce"
      - "POSTGRES_DB=ecommerce"
      - "POSTGRES_INITDB_ARGS='--encoding=UTF-8'"

#  api:
#    build: .
#    ports:
#      - "8080:8080"
#    depends_on:
#      - db
