{:server {:port 8080}
 :db-spec {:jdbcUrl "jdbc:postgresql://db:5432/ecommerce"
           :username "ecommerce"
           :password "ecommerce"}
 :auth {:jwt
        {:secret "123456789"
         :alg :hs512
         :expires-in 3600}}}
