#kaocha/v1
{:tests [{:id :unit
          :source-paths ["src"]
          :test-paths ["test/global_service/unit"]
          :ns-pattern ".*-unit$"}

         {:id :integration
          :source-paths ["src"]
          :test-paths ["test/global_service/integration"]
          :ns-pattern ".*-integration$"
          :focus-meta [:integration]}]}

:kaocha/reporters [kaocha.report/progress kaocha.report/documentation]
